html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #999999;
}

.masterhead{
    background-image: url(/img/backround-picture.jpg);
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    display: block;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

.page-menu{
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 140px;
}

.page-menu_logo{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-decoration: none;
    color: #ffffff;
}

.page-menu-navigation{
    display: flex;

}

.page-menu_list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 52px 0 0;
    padding: 0;
    width: 480px;
    
}

.page-menu_list_link{
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.2s linear; 
}

.page-menu_list_link:hover{
    padding-bottom: 10px;
    border-bottom: 3px solid #fce38a;
    color: #fce38a;

}

.page-menu_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}

.page-menu_link{
    display: block;
    text-decoration: none;
    width: 18px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.page-menu_icons svg{
    display: block;
    width: 100%;
    height: 100%;
    fill:#fff;
}

.page-menu_link:hover svg{
    fill:#fce38a;
}

.page-banner{
    width: 820px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.page-banner_subtext{
    font-family: "Kaushan Script";
    font-size: 72px;
    line-height: 86px;
    color: #fff;
    font-weight: 400;
    margin: 0 0 50px 0;
}

.page-banner_title{
    font-family: "Montserrat";
    font-size: 150px;
    line-height: 140px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 120px 0;
}

.page-banner_btn{
    width: 160px;
    height: 40px;
    background-color: transparent;
    border: 3px solid #fff;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

/* HEADER DONE */

/* MAIN */
/* Section services */

.page-services{
    margin-bottom: 45px;
}

.section-heading{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-heading_subtext{
        font-size: 24px;
        font-family: "Kaushan Script";
        color: rgb(51, 51, 51);
        line-height: 29px;  
        font-weight: normal;
        margin: 45px 0 15px;    
}

.section-heading_title{
        font-size: 30px;
        font-family: "Montserrat";
        color: rgb(51, 51, 51);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 36px;
        margin: 0;      
}

.section-heading::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 66px;
    background-color: #f38181;
}

.page-services-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.page-services_item{
    flex-basis: 380px;
    display: flex;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.page-services_item:not(:nth-child(n+2)){
    margin-bottom: 100px;
}

.page-services_item_discription{
    display: flex;
    flex-direction: column;
}

.page-services_item_title{
    font-weight: 400;
    font-family: "Montserrat";
    color: #333333;
    text-transform: uppercase;
    line-height: 17px;
    margin: 0 0 18px;
}

.page-servicer_item_text{
    margin: 0;
}

.page-services_item:before{
    content: '';
    display: block;
    width: 50px;
    height: 32px;
    margin-right: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.page-services_icon-alarm:before{
    background-image: url(/img/services-icons/ALARM.png);
}

.page-services_icon-graph{
    background-image: url(/img/services-icons/GRAPH.png);
}

.page-services_icon-computer{
    background-image: url(/img/services-icons/COMPUTER.png);
}

.page-services_icon-book{
    background-image: url(/img/services-icons/BOOK.png);
}

.page-services_icon-home{
    background-image: url(/img/services-icons/HOME.png);
}

.page-services_icon-picture{
    background-image: url(/img/services-icons/IMAGE.png);
}


/* Section TEAM */

.page-team{
    margin-bottom: 80px;
}

.page-team_description{
    margin: 0 auto 90px;
    padding: 0;
    text-align: center;
    width: 945px;
}

.page-team-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    text-align: center;
}

.page-team_item{
    display: flex;
    flex-direction: column;
    flex-basis: 381px;
    position: relative;
}

.page-team_item_name{
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat";
    color: #333333;
    text-transform: uppercase;
    line-height: 17px; 
    margin: 30px 0 10px;
}

.page-team_item_job{
    color: rgb(153, 153, 153);
    font-style: italic;
    margin: 0;
}

.page-team_item_hover-gradient{
    width: 381px;
    height: 471px;
    background: linear-gradient(360deg, rgba(252, 227,138,0.9), rgba(243,129,129,0.9));
    position: absolute;
    z-index: 1;
    transition: 0.3s linear;
    opacity: 0;
}

.hover-gradient_icons-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: absolute;
    z-index: 2;
    left: 78px;
    top: 205px;
}

.hover-gradient_icons{
    display: block;
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    border-right: 1px solid rgba(243, 129, 129,0.502);   
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s linear;
}

.icons-link{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-gradient_icons-list svg{
    display: block;
    width: 38px;
    height: 32px;
    fill: #f38181;
}

.page-team_item_hover-background{
    position: absolute;
    z-index: -1;
    width: 381px;
    height: 471px;
    background-color: #95e1d3;
}

/* SECTION TEAM HOVERS */

.page-team_item:hover .page-team_item_hover-gradient{
    opacity: 1;
    transform: translate(-10px,-10px);
}

.page-team_item:hover .page-team_photo{
    transform: translate(-10px,-10px);
    transition: 0.3s linear;
}

.icons-link:hover{
    background-color: #f38181;
}

.icons-link:hover .icons-svg{
    fill: #fff;
}

/* FOOTER */
.page-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}

.page-footer-info_text{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color:#333333;
}

.page-footer-info_text a{
    text-decoration: none;
    color: #f38181;
}

.page-footer-form{
    display: flex;
}

.page-footer-form_input-field{
    width: 230px;
    height: 40px;
    border: 1px solid #e5e5e5;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    line-height: 14px;
    padding-left: 13px;
}

.page-footer-form_btn{
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    border: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;
}




@media (min-resolution: 192dpi), (min-resolution: 2dppx){
    .masterhead{
        background-image: url(/img/background-picture@2x.jpg);
    }

    .page-services_icon-alarm:before{
        background-image: url(/img/services-icons/ALARM@2x.png);
    }

    .page-services_icon-graph{
        background-image: url(/img/services-icons/GRAPH@2x.png);
    }

    .page-services_icon-computer{
        background-image: url(/img/services-icons/COMPUTER@2x.png);
    }
    
    .page-services_icon-book{
        background-image: url(/img/services-icons/BOOK@2x.png);
    }

    .page-services_icon-home{
        background-image: url(/img/services-icons/HOME@2x.png);
    }

    .page-services_icon-picture{
        background-image: url(/img/services-icons/IMAGE@2x.png);
    }
}


